/* @font-face {
  font-family: 'pokemon';
  src: url(../fonts/Pokemon_GB.ttf) format(‘truetype’);
} */

@import url(https://fonts.googleapis.com/css?family="Luckiest+Guy");

body {
  background-color:rgba(228, 57, 27, 0.838);
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
  /* height:10000px; */
  /* , Andale Mono	
, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-family: "Luckiest Guy";
  font-size: 80px;
  font-weight: 900;
  color: yellow;
  -webkit-text-stroke: 0.1rem blue;
}

code {
  font-family: 'DotGothic16', sans-serif;
  /* , Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}

.box{
  /* height: 7.5rem; */
  margin-left:24%;
  margin-right: auto;
  width: 70%;
  padding: 1rem; 
  border-radius: 20px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  box-shadow: 1px 2px 15px 4px #000000;
  font-size: 25px;
}

ul {
  list-style-type: none;
  margin-top: 20px;
  height: auto;
  margin-left: 25px;
  padding: 20px;
  width: 200px;
  top: 50px; 
  left: 0;
  overflow-y: scroll;
  position: fixed;
}

li {
  display: block;
  color: #000;
  width:190px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  text-decoration: none;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #fcf9e3;
  font-size: 20px;
  font-weight:bolder;
  box-shadow: 1px 2px 1px 2px #000000;
}

/* Change the link color on hover */
li:hover {
  background-color: #f9f4cfbc;
  color: rgb(0, 0, 0);
}

.active {
  background-color: #04AA6D;
  color: white;
}

/* @media only screen and (min-hight: 10000px){
  body{
    display:flex;
  }
} */